In [40]:
df.fillna(df.mean())

    Make   Model  Type   Origin   DriveTrain   MSRP   Invoice   EngineSize   Cylinders   Horsepower   MPG_City   MPG_Highway   Weight   Wheelbase   Length
0    Acura  MDX    SUV    Asia       All       $36,...
1    Acura  RSX    2dr    Sedan     Asia       $23,...
2    Acura  TSX    4dr    Sedan     Asia       $26,...
3    Acura  TL     4dr    Sedan     Asia       $33,...
4    Acura 03.5 RL 4dr    Sedan     Asia       $43,...
..                                                 ...
423  Volvo  C70    2dr    Sedan     Europe     $40,...
424  Volvo  C70    2dr    Sedan     Europe     $42,...
425  Volvo  S80    4dr    Sedan     Europe     $45,...
426  Volvo  V40           Wagon     Europe     $26,...
427  Volvo  XC70          Wagon     Europe     $35,...

[428 rows x 1 columns]

In [41]:
df.fillna(df.median())

    Make   Model  Type   Origin   DriveTrain   MSRP   Invoice   EngineSize   Cylinders   Horsepower   MPG_City   MPG_Highway   Weight   Wheelbase   Length
0    Acura  MDX    SUV    Asia       All       $36,...
1    Acura  RSX    2dr    Sedan     Asia       $23,...
2    Acura  TSX    4dr    Sedan     Asia       $26,...
3    Acura  TL     4dr    Sedan     Asia       $33,...
4    Acura 03.5 RL 4dr    Sedan     Asia       $43,...
..                                                 ...
423  Volvo  C70    2dr    Sedan     Europe     $40,...
424  Volvo  C70    2dr    Sedan     Europe     $42,...
425  Volvo  S80    4dr    Sedan     Europe     $45,...
426  Volvo  V40           Wagon     Europe     $26,...
427  Volvo  XC70          Wagon     Europe     $35,...

[428 rows x 1 columns]

In [42]:
df.fillna(df.mode())

    Make   Model  Type   Origin   DriveTrain   MSRP   Invoice   EngineSize   Cylinders   Horsepower   MPG_City   MPG_Highway   Weight   Wheelbase   Length
0    Acura  MDX    SUV    Asia       All       $36,...
1    Acura  RSX    2dr    Sedan     Asia       $23,...
2    Acura  TSX    4dr    Sedan     Asia       $26,...
3    Acura  TL     4dr    Sedan     Asia       $33,...
4    Acura 03.5 RL 4dr    Sedan     Asia       $43,...
..                                                 ...
423  Volvo  C70    2dr    Sedan     Europe     $40,...
424  Volvo  C70    2dr    Sedan     Europe     $42,...
425  Volvo  S80    4dr    Sedan     Europe     $45,...
426  Volvo  V40           Wagon     Europe     $26,...
427  Volvo  XC70          Wagon     Europe     $35,...

[428 rows x 1 columns]